# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [7]:
chipo = pd.read_csv('"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"')
chipo

OSError: [Errno 22] Invalid argument: '"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"'

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t') #convertimos a csv con el sep ='\t'

In [23]:
chipo.to_csv("chipo.csv", index=False) #Guardamos

In [9]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
chipo.shape #(Filas, Columnas)

(4622, 5)

# Name of the max valued product

In [14]:
# Calcular el total por fila
chipo['total_price'] = chipo['quantity'] * chipo['item_price']

# Agrupar por producto y sumar los totales
product_totals = chipo.groupby('item_name')['total_price'].sum()

In [12]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float) #limpiamos el maldito $

In [15]:
chipo

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [16]:
product_totals

item_name
6 Pack Soft Drink                         369.93
Barbacoa Bowl                             672.36
Barbacoa Burrito                          894.75
Barbacoa Crispy Tacos                     138.71
Barbacoa Salad Bowl                       106.40
Barbacoa Soft Tacos                       250.46
Bottled Water                             649.18
Bowl                                       74.00
Burrito                                    44.40
Canned Soda                               191.84
Canned Soft Drink                         603.75
Carnitas Bowl                             830.71
Carnitas Burrito                          616.33
Carnitas Crispy Tacos                      95.94
Carnitas Salad                              8.99
Carnitas Salad Bowl                        66.34
Carnitas Soft Tacos                       375.94
Chicken Bowl                             8044.63
Chicken Burrito                          6387.06
Chicken Crispy Tacos                      524.11
Chicken Salad                              81.09
Chicken Salad Bowl                       1506.25
Chicken Soft Tacos                       1199.01
Chips                                     580.34
Chips and Fresh Tomato Salsa             1033.96
Chips and Guacamole                      2475.62
Chips and Mild Fresh Tomato Salsa           3.00
Chips and Roasted Chili Corn Salsa         73.75
Chips and Roasted Chili-Corn Salsa         43.02
Chips and Tomatillo Green Chili Salsa     144.55
Chips and Tomatillo Red Chili Salsa       159.30
Chips and Tomatillo-Green Chili Salsa      88.43
Chips and Tomatillo-Red Chili Salsa        93.21
Crispy Tacos                               14.80
Izze                                       67.80
Nantucket Nectar                          111.87
Salad                                      14.80
Side of Chips                             290.68
Steak Bowl                               2479.81
Steak Burrito                            4236.13
Steak Crispy Tacos                        375.32
Steak Salad                                35.66
Steak Salad Bowl                          391.15
Steak Soft Tacos                          554.55
Veggie Bowl                               901.95
Veggie Burrito                           1002.27
Veggie Crispy Tacos                         8.49
Veggie Salad                               50.94
Veggie Salad Bowl                         182.50
Veggie Soft Tacos                          90.94
Name: total_price, dtype: float64

In [17]:
max_product = product_totals.sort_values(ascending=False).head(1)

print(max_product)

item_name
Chicken Bowl    8044.63
Name: total_price, dtype: float64

In [18]:
salsa_fresca = chipo[chipo['choice_description'].str.contains('Fresh Tomato Salsa', na=False)]

print(salsa_fresca)

      order_id  quantity           item_name  \
5            3         1        Chicken Bowl
9            5         1       Steak Burrito
13           7         1        Chicken Bowl
17           9         1     Chicken Burrito
21          11         1    Barbacoa Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description  item_price  \
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...        9.25
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...        8.49
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...        8.99
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

      total_price
5           10.98
9            9.25
13          11.25
17           8.49
21           8.99
...           ...
4617        11.75
4618        11.75
4619        11.25
4620         8.75
4621         8.75

[1397 rows x 6 columns]

In [19]:
salsa_fresca = chipo[chipo['item_name'] == 'Chips and Fresh Tomato Salsa']

print(salsa_fresca['item_name']) #Se busca a partir del nombre del item

0       Chips and Fresh Tomato Salsa
25      Chips and Fresh Tomato Salsa
55      Chips and Fresh Tomato Salsa
89      Chips and Fresh Tomato Salsa
183     Chips and Fresh Tomato Salsa
                    ...
4231    Chips and Fresh Tomato Salsa
4318    Chips and Fresh Tomato Salsa
4324    Chips and Fresh Tomato Salsa
4425    Chips and Fresh Tomato Salsa
4503    Chips and Fresh Tomato Salsa
Name: item_name, Length: 110, dtype: object

In [20]:
salsa_fres = chipo[chipo['item_name'] == 'Chips and Fresh Tomato Salsa']


print(salsa_fres['item_name'].iloc[[0]])

0    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [21]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

salsa_fresca = chipo[chipo['item_name'] == 'Chips and Fresh Tomato Salsa']

first_row = salsa_fresca.head(1)['item_name']
print(first_row)

0    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [ ]:
chipo = pd.read_csv("chipo.csv", index_col=0) #Reutilizamos el csv con index_col = 0 para que se referencie como la 1eraq orden

In [26]:
total_ordenes = chipo[chipo['item_name'] == 'Chips and Fresh Tomato Salsa']['quantity'].sum()

print(total_ordenes)

130

In [ ]:
salsa_fresca2 = chipo[chipo['item_name'] == 'Chips and Fresh Tomato Salsa']

print(salsa_fresca2.head(1)['item_name'])

order_id
1    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 4. How many products cost more than $10.00?

In [27]:
total_mas_10 = (chipo[chipo['item_price'] > 10]).shape[0]

print(total_mas_10)

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float) # Convertir item_price a float, para solucionar el error

total_mas_10 = (chipo[chipo['item_price'] > 10]).shape[0]

print(total_mas_10)

1130

In [ ]:
#Se me han cruzado los csvs  XD

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
#Al cruzarse, vuelvo a intentar usar el csv original
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

item_prices = chipo[['item_name', 'item_price']]

item_prices

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [32]:
item_prices = chipo[['item_name', 'item_price']]

item_prices_sorted = item_prices.sort_values(by='item_name')

item_prices_sorted

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

In [36]:
item_prices_sorted = chipo[["order_id", "quantity", "item_name", "choice_description", "item_price"]].sort_values(by='item_name')

item_prices_sorted

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

In [ ]:
item_prices_sorted = chipo[['item_name', 'item_price']].sort_values(by='item_name')

item_prices_sorted #Mejora de formato mas claro para un menu

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [ ]:
most_expensive = chipo.loc[chipo['item_price'].idxmax()]

print(most_expensive[['item_price', 'quantity']]) #No esta teniendo en cuenta la columna con el $ ya que al resetear no cambiamos el formato a float

item_price    $9.39
quantity           1
Name: 607, dtype: object

In [38]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

most_expensive = chipo.loc[chipo['item_price'].idxmax()]

print(most_expensive[['item_price', 'quantity']])

item_price    44.25
quantity         15
Name: 3598, dtype: object

In [39]:
print(most_expensive['quantity'])

15

V2

In [42]:
most_expensive = chipo[['item_price','quantity']].sort_values(by='item_price', ascending=False).head(1) #ordenamos y elegimos el mayor

most_expensive

      item_price  quantity
3598       44.25        15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veggie_count = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()

veggie_count

np.int64(18)

In [47]:
print(veggie_count)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [49]:
canned_soda_count = chipo(chipo['item_name'] == 'Canned Soda') & ['quantity'].sum()

print(canned_soda_count)

TypeError: 'DataFrame' object is not callable

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

canned_soda_count = chipo(chipo['item_name'] == 'Canned Soda') & ['quantity'].sum()

print(canned_soda_count)